<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Talli.pkg</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>841ED832F5CB2EA83C5EE8C502992F8B46BBBC32</string>
				<key>dateExpires</key>
				<string>2027-06-24</string>
				<key>type</key>
				<string>Mac App Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>QMM486NPYC.com.heyitsmejosh.tally.mac</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QMM486NPYC</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Talli.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bea884ce-a509-41de-a813-6a5ab4ced3e5</string>
				<key>dateExpires</key>
				<string>2027-06-24</string>
				<key>name</key>
				<string>Mac Team Store Provisioning Profile: com.heyitsmejosh.tally.mac</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QMM486NPYC</string>
				<key>name</key>
				<string>Joshua Trommel</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
